In [2]:
%load_ext autoreload
%autoreload 2

import Stock_LSTM
import Sentiment_LSTM
import sentiment
import pandas as pd
#This will change depending on where the Kaggle dataset is stored for you
company = 'AAPL'
data = pd.read_csv('CompanyValues.csv', date_parser=True)
data

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,5/29/2020,317.94,38399530,319.25,321.15,316.4700
1,AAPL,5/28/2020,318.25,33449100,316.77,323.44,315.6300
2,AAPL,5/27/2020,318.11,28236270,316.14,318.71,313.0900
3,AAPL,5/26/2020,316.73,31380450,323.50,324.24,316.5000
4,AAPL,5/22/2020,318.89,20450750,315.77,319.23,315.3500
...,...,...,...,...,...,...,...
17523,TSLA,12/21/2019,405.59,14785210,410.29,413.00,400.1850
17524,TSLA,12/22/2019,405.59,14785210,410.29,413.00,400.1850
17525,TSLA,12/25/2019,425.25,8054720,418.36,425.47,412.6875
17526,TSLA,12/28/2019,430.38,9956827,435.00,435.31,426.1100
17527,TSLA,12/29/2019,430.38,9956827,435.00,435.31,426.1100

In [3]:
# Display tweet data
tweet_data = pd.read_csv('Tweet.csv', date_parser=True)
tweet_data

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [ ]:

#filtered_tweets = tweet_data[(tweet_data.like_num > 10)]#
ids = pd.read_csv('Company_Tweet.csv')
company_stock_sentiment = Sentiment_LSTM.addSentiments(data, company, ids, tweet_data)
company_stock_sentiment
#amzn_stock_sentiment[(amzn_stock_sentiment.sentiments > .1)]
#For some reason all AMZN tweets have super low sentiment?

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import glob, os

In [ ]:
company_stock_sentiment.describe()

In [ ]:
# Pairwise covariance of columns
company_stock_sentiment.cov()

In [ ]:
# Pairwise correlation of columns (using standard correlation coefficient)
company_values_corr = company_stock_sentiment.corr(method='pearson')
company_stock_sentiment.corr(method='pearson')

In [ ]:
# Correlation heatmap for features

# http://seaborn.pydata.org/examples/many_pairwise_correlations.html

# Generate a mask for the upper triangle
mask = np.zeros_like(company_values_corr, dtype=np.bool_)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(8, 5))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
heatmap = sns.heatmap(company_values_corr, mask=mask, cmap=cmap, vmax=.3,
            square=True, linewidths=.5, cbar_kws={"label": 'correlation',"shrink": .5}, ax=ax, annot=True)
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':12}, pad=12);